*{
    font-family: sans-serif;
    padding:0;
    margin:0;
}

html,body{
    height: 100%;
    background-color: #1d1d1d;
}

textarea:focus, input:focus, select:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d;
}

    #container form{
        border: 1px solid #b1b1b1;
        height: auto;
        width: 500px;
        padding: 20px;
        color: white;
    }

        #container form input[type="text"]{
            width: 465px;
            height: 25px;
            margin-bottom: 28px;
            padding-left: 15px;
            padding-right: 15px;
            color: black;
            background-color: #d1d1d1ea;
            border: none;
        }

        #container form input[type="email"]{
            width: 465px;
            height: 25px;
            margin-bottom: 28px;
            padding-left: 15px;
            padding-right: 15px;
            color: black;
            background-color: #d1d1d1ea;
            border: none;
        }

        #container form input[type="password"]{
            width: 465px;
            height: 25px;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 28px;
            color: black;
            background-color: #d1d1d1ea;
            border: none;
        }

        #container form input[type="submit"]{
            width: 500px;
            height: 35px;
            background: none transparent no-repeat;
            border: 1px solid #555;
            color: white;
        }